@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
 @using Umbraco.Cms.Core.Models

@{
	Layout = "MasterTemplate.cshtml";
}


<!-- Primary Page Layout
================================================== -->

		<div class="section full-height" id="home">
			<div class="home-carousel-wrap">						

				    @Html.GetBlockListHtml(Model, "homeSliders","HomeSlider")

				    
					
					
			
					
				<div id="sync2" class="owl-carousel fade-elements">
					<div class="item">
					</div>
					<div class="item">
					</div>
					<div class="item">
					</div>
				</div>							
			</div>
			
			<a href="#about" data-gal="m_PageScroll2id" data-ps2id-offset="78"><div class="link-down fade-elements"></div></a>
			
		</div>


<div class="section back-white" id="about">
	<div class="section padding-top-bottom">
		<div class="container">
			<div class="twelve columns">
				<div class="title-text left">
					<p><span>@Model.Value("aboutUsTitle")</span></p>
					<h3>@Model.Value("aboutUsDescription")</h3>
				</div>
			</div>
	
						@Html.GetBlockListHtml(Model, "aboutUsNesteds","AboutNested")
				
		</div>
	</div>
	<div class="section padding-top-bottom back-dark">

			@Html.GetBlockListHtml(Model, "testimonialNesteds","TestimonialNested")

	</div>
	<div class="section padding-top-bottom back-white">
		<div class="container">
			<div class="twelve columns">
				<div class="title-text left">
					<p><span>@Model.Value("ourTeamTitle")</span></p>
					<h3>@Model.Value("ourTeamDesc")</h3>
				</div>
			</div>
			
						@Html.GetBlockListHtml(Model, "ourTeamLists","OurTeamList")

		</div>
	</div>
	<div class="section padding-top-bottom">
	
								@Html.GetBlockListHtml(Model, "statisticsLists","StatisticsList")

	</div>
</div>


<div class="section back-white" id="work">
	<div class="section padding-top-bottom">
		<div class="container">
			<div class="twelve columns">
				<div class="title-text left">
					<p><span>@Model.Value("whatWeDoTitle")</span></p>
					<h3>@Model.Value("whatWeDoDesc")</h3>
				</div>
			</div>

			<div class="clear"></div>

			<div class="portfolio"></div>

			<div class="expander-wrap relative">
				<div id="expander-wrap">
					<p class="cls-btn"><a class="close"></a></p>
					<div class="expander-inner"></div>
				</div>
			</div>


								    @Html.GetBlockListHtml(Model, "whatWeDos","WhatWeDo")

			
			
			
		</div>
	</div>
	<a href="#contact" data-gal="m_PageScroll2id" data-ps2id-offset="78">
		<div class="section back-dark">
			<div class="portfolio-bottom-link">work with us</div>
		</div>
	</a>
	<div class="section padding-top-bottom">
		<div class="parallax-2"></div>
		<div class="dark-over-sep"></div>
		<div class="container z-bigger">
			<div class="twelve columns" data-scroll-reveal="enter bottom move 150px over 0.7s after 0.2s">
				<div id="owl-logos" class="owl-carousel owl-theme">
									
                            @{
                                var typedMultiMediaPicker = Model.Value<IEnumerable<MediaWithCrops>>("workWithUsLogos");
                                foreach (var entry in typedMultiMediaPicker)
                                {
                                   @* <img src="@entry.MediaUrl()" style="width:200px" />*@
                                    <div class="item">
        								<img style="width:120px" src="@entry.MediaUrl()" alt="" />
        							</div>	
                                }
                            }
				</div>
			</div>
		</div>
	</div>
</div>


<div class="section back-white" id="services">
	<div class="section padding-top-bottom">
		<div class="container">
			<div class="twelve columns">
				<div class="title-text left">
					<p><span>@Model.Value("featureTitle")</span></p>
				<h3>@Model.Value("featureDesc")</h3>
				</div>
			</div>
						    @Html.GetBlockListHtml(Model, "featureNesteds","FeatureNested")


			<div class="clear"></div>
		</div>
	</div>
	<div class="section padding-bottom">
		<div class="container">
			<div class="twelve columns">
				<div class="title-text left">
					<p>e. <span>our numbers</span></p>
					<h3>From whiteboard sketches to pixel-perfect designs.</h3>
				</div>
			</div>
			<div class="twelve columns">
									    @Html.GetBlockListHtml(Model, "priceCards","PriceCard")

			</div>
		</div>
	</div>
	<a href="#contact" data-gal="m_PageScroll2id" data-ps2id-offset="78">
		<div class="section back-dark">
			<div class="parallax-3"></div>
			<div class="dark-over-sep"></div>
			<div class="services-bottom-link">we create, design and deliver<br>real experiences.</div>
		</div>
	</a>
</div>


<div class="section back-white" id="blog">
	<div class="section padding-top-bottom">
		<div class="container">
			<div class="twelve columns">
				<div class="title-text left">
					<p>f. <span>you inspired me</span></p>
					<h3>I think the word 'blog' is an ugly word. I just don't know why people can't use the word 'journal.'</h3>
				</div>
			</div>
			<div class="six columns">
				<div class="journal-wrap">
					<img src="images/blog/1.jpg" alt="" data-scroll-reveal="enter right move 150px over 0.7s after 0.2s" />
					<div class="journal-det" data-scroll-reveal="enter right move 150px over 0.7s after 0.6s">
						<h6>author: Marco Kulis. <span>07.09.2016.</span></h6>
						<h5>Day of photography.</h5>
						<a href="http://www.ivang-design.com/talos/2blog/post.html"><div class="link">read more</div></a>
					</div>
				</div>
			</div>
			<div class="six columns">
				<div class="journal-wrap">
					<img src="images/blog/2.jpg" alt="" data-scroll-reveal="enter right move 150px over 0.7s after 1.2s" />
					<div class="journal-det" data-scroll-reveal="enter right move 150px over 0.7s after 1.6s">
						<h6>author: Marco Kulis. <span>03.09.2016.</span></h6>
						<h5>The hidden entry.</h5>
						<a href="http://www.ivang-design.com/talos/2blog/post.html"><div class="link">read more</div></a>
					</div>
				</div>
			</div>

			<div class="clear"></div>

			<div class="six columns">
				<div class="journal-wrap-right">
					<img src="images/blog/3.jpg" alt="" data-scroll-reveal="enter left move 150px over 0.7s after 1.2s" />
					<div class="journal-det-right" data-scroll-reveal="enter left move 150px over 0.7s after 1.6s">
						<h6>author: Marco Kulis. <span>27.08.2016.</span></h6>
						<h5>Blown leaves.</h5>
						<a href="http://www.ivang-design.com/talos/2blog/post.html"><div class="link">read more</div></a>
					</div>
				</div>
			</div>
			<div class="six columns">
				<div class="journal-wrap-right">
					<img src="images/blog/4.jpg" alt="" data-scroll-reveal="enter left move 150px over 0.7s after 0.2s" />
					<div class="journal-det-right" data-scroll-reveal="enter left move 150px over 0.7s after 0.6s">
						<h6>author: Marco Kulis. <span>25.08.2016.</span></h6>
						<h5>Moments from a life.</h5>
						<a href="http://www.ivang-design.com/talos/2blog/post.html"><div class="link">read more</div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="http://www.ivang-design.com/talos/2blog/index.html">
		<div class="section back-dark">
			<div class="portfolio-bottom-link">all posts</div>
		</div>
	</a>
</div>


<div class="section back-white" id="contact">
	<div class="section">
		<div id="cd-google-map">
			<div id="google-container"></div>
			<div id="cd-zoom-in"></div>
			<div id="cd-zoom-out"></div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="twelve columns remove-top">
				<div class="contact-det-wrap" data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">
					<div class="contact-det">
						<p>1. <span>drop a line</span></p>
						<h6>talosoffice@talos.com</h6>
						<h6>talossupport@talos.com</h6>
					</div>
					<div class="contact-det">
						<p>2. <span>call us</span></p>
						<h6>00381 (0)60123456789</h6>
						<h6>00381 (0)60111222333</h6>
					</div>
					<div class="contact-det">
						<p>3. <span>find us</span></p>
						<h6>kralja milutina 325</h6>
						<h6>11000 belgrade, serbia</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section padding-bottom">
		<div class="container">
			<form name="ajax-form" id="ajax-form" action="http://www.ivang-design.com/talos/1main/mail-it.php" method="post">
				<div class="six columns" data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">
					<label for="name">
						<span class="error" id="err-name">please enter name</span>
					</label>
					<input name="name" id="name" type="text" placeholder="Your Name: *" />
				</div>
				<div class="six columns" data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">
					<label for="email">
						<span class="error" id="err-email">please enter e-mail</span>
						<span class="error" id="err-emailvld">e-mail is not a valid format</span>
					</label>
					<input name="email" id="email" type="text" placeholder="E-Mail: *" />
				</div>
				<div class="twelve columns" data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">
					<label for="message"></label>
					<textarea name="message" id="message" placeholder="Tell Us Everything"></textarea>
				</div>
				<div class="twelve columns" data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">
					<div id="button-con"><button class="send_message button-effect button--moema button--text-thick button--text-upper button--size-s" id="send" data-lang="en">submit</button></div>
				</div>
				<div class="clear"></div>
				<div class="error text-align-center" id="err-form">There was a problem validating the form please check!</div>
				<div class="error text-align-center" id="err-timedout">The connection to the server timed out!</div>
				<div class="error" id="err-state"></div>
			</form>

			<div class="clear"></div>
			<div id="ajaxsuccess">Successfully sent!!</div>
			<div class="clear"></div>
		</div>
	</div>
</div>